


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --box-shadow:5px 5px 10px 10px rgba(101, 175, 10, 0.5);
  --bg-color:rgba(40, 47, 97);
}
body{

  background-color: rgb(11, 26, 51);
  color: white;
}
a{
  text-decoration: none;
  color: white;
}
.nav-bar{
  /* background-color: var(--bg-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

}
.nav-bar .nav-items{

  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
.nav-bar .nav-items:hover{
  border-bottom: 3px solid yellow;
}


/* home  */
.home {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .left{
  background-color: black;
  width: 620px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid yellow;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
}
.home .right .img{
display: flex;
justify-content: center;
/* background-color: yellow; */
 height: 350px;
  width: 350px;
  
}
.home .right .img img{
  border: 2px solid yellow;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  animation-name: super;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes super{
0%{
  border-color: blue;
  transform: translate(0, 0px);
  box-shadow: 10px 10px 100px 50px blue;
  
}
25%{
  border-color: rgb(213, 168, 64);
  /* transform: translate(0, 0px); */
  box-shadow: 10px 10px 100px 50px rgb(213, 168, 64);

}
50%{
  border-color: rgba(12, 12, 199, );
  transform: translate(0px, 10px);
  box-shadow: 10px 10px 100px 50px rgba(12, 12, 199, );

}
75%{
  border-color: rgb(130, 217, 160);
  transform: translate(0px, -10px);
  box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);

}
100%{
  border-color: rgb(50, 55, 205);
  transform: translate(0px, 0px);
  box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);

}
}

/* experience  */
.ex{
  width: 900px;
}
.ex-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  margin: 20px;
  padding: 30px;
  width: 800px;
  border: 1px solid yellow;
  border-radius: 10px;
  box-shadow: var(--box-shadow);

}

.ex-items .left img{
  width: 60px;
}

/* skills  */
.skills{
width: 900px;
/* padding: 60px 0px; */

}

.skills .items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    /* width: 70px; */

    
    
    /* background-color: yellow; */
}

.skills .items .item {
  width:calc(33.33%);
  background-color: black;
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius:10px ;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}






/* .skills .items .item img{
  display: flex;
  align-items: center;
  width: 70px;
} */
.skills .items .item img{
  width: 70px;
  display: block;
  margin: 0 auto 10px;
}








/* contact */
.contact-icon{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-icon .item{
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid yellow;
  
}
.contact-icon .item:hover{
background-color: var(--bg-color);
box-shadow: var(--box-shadow);
}

.contact-icon .item .icons{
  font-size: 2rem;
}